<HTML>
<head>
<title>Auntenticação</title>

 <script language="JavaScript" type="text/JavaScript">
      function verifica(form){
         usuario=form.login.value;
         senha=form.senha.value;
         if ((senha=="") || (usuario=="")) {
                     alert("Não é permetido valor nulo no campo Conta ou Senha.");
                     return false;
         }
         return true;
      }
 </script>
</HEAD>
<BODY>
<form name="formlogin" onSubmit="return verifica(this);" method="POST">

<table width="100%" cellspacing="0" height="112">
  <tr>
    <td width="25%" height="20" bgcolor="#64a9a3"></td>
    <td width="25%" height="20" bgcolor="#64a9a3"></td>
    <td width="25%" height="20" bgcolor="#64a9a3"></td>
    <td width="25%" height="20" bgcolor="#64a9a3"></td>
  </tr>
  <tr>
    <td width="25%" height="20" bgcolor="#64a9a3"></td>
    <td width="25%" height="20" bgcolor="#64a9a3"></td>
    <td width="25%" height="20" bgcolor="#64a9a3"></td>
    <td width="25%" height="20" bgcolor="#64a9a3"></td>
  </tr>
  <tr>
    <td width="25%" height="20" bgcolor="#64a9a3"></td>
    <td width="25%" bordercolordark="#000000" bgcolor="white" height="20" align="right"><b>Conta: </b></td>
    <td width="25%" bordercolordark="#000000" bgcolor="white" height="20" align="left"><input type="text" maxlength="20" name="login" exige="sim"></td>
    <td width="25%" height="20" bgcolor="#64a9a3"></td>
  </tr>
  <tr>
    <td width="25%" height="20" bgcolor="#64a9a3"></td>
    <td width="25%" bordercolordark="#000000" bgcolor="white" height="20" align="right"><b>Senha: </b></td>
    <td width="25%" bordercolordark="#000000" bgcolor="white" height="20" align="left"><input type="password" maxlength="8" name="senha" value="" exige="sim"></td>
    <td width="25%" height="20" bgcolor="#64a9a3"></td>
  </tr>
  <tr>
    <td width="25%" height="20" bgcolor="#64a9a3"></td>
    <td width="25%" bordercolordark="#000000" bgcolor="white" height="20" align="right"></td>
    <td width="25%" bordercolordark="#000000" bgcolor="white" height="20" align="left"><input type="submit" name="submite" value="Enviar"></td>
    <td width="25%" height="20" bgcolor="#64a9a3"></td>
  </tr>
  <tr>
    <td width="25%" height="20" bgcolor="#64a9a3"></td>
    <td width="25%" height="20" bgcolor="#64a9a3"></td>
    <td width="25%" height="20" bgcolor="#64a9a3"></td>
    <td width="25%" height="20" bgcolor="#64a9a3"></td>
  </tr>
  <tr>
    <td width="25%" height="20" bgcolor="#64a9a3"></td>
    <td width="25%" height="20" bgcolor="#64a9a3"></td>
    <td width="25%" height="20" bgcolor="#64a9a3"></td>
    <td width="25%" height="20" bgcolor="#64a9a3"></td>
  </tr>

</table>
</form>
</BODY>
</HTML>
