<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8" />
    <title>Dashboard</title>
    <!-- Importa os scripts do Bokeh para o HTML -->
    <script src="https://cdn.bokeh.org/bokeh/release/bokeh-3.0.3.min.js"></script>
    <link href="https://cdn.bokeh.org/bokeh/release/bokeh-3.0.3.min.css" rel="stylesheet" />
</head>
<body>
    <h1>Dashboard Interativo com Bokeh</h1>

    {% for titulo, script, div in graficos %}
        <h3>{{ titulo }}</h3>
        {{ script | safe }}
        {{ div | safe }}
    {% endfor %}
</body>
</html>
