{% extends "base.html" %}

{% block title %}Relatório{% endblock %}

{% block content %}
<div class = 'relatorio-tabela'>
    
    <table>
        <tr>
            {% for col in colunas %}
                <th>{{ col }}</th>
            {% endfor %}
        </tr>
        {% for linha in dados %}
        <tr>
        {% for valor in linha %}
            <td>
            {% if valor is float %}
                {{ "{:,.2f}".format(valor).replace(",", "X").replace(".", ",").replace("X", ".") }}
            {% else %}
                {{ valor }}
            {% endif %}
            </td>
        {% endfor %}
        </tr>        
{% endfor %}

    </table>
    <div class="botao-container">
        <button onclick="window.location.href='{{ url_for('exportar_cidade')}}'", class="botao-exportar">Exportar CSV</button>
    </div>
    
{% endblock %}

